fastapi
uvicorn
gunicorn
pydantic
python-multipart
PyPDF2
python-docx
pandas
openpyxl
langdetect
python-dotenv
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
faiss-cpu
tiktoken
pycryptodome
