# --- Cœur RAG & Base Vectorielle ---
langchain==0.3.27
langchain-community==0.3.29
# C'est cette ligne qui corrige votre erreur :
langchain-experimental==0.3.4
pydantic==2.11.9
faiss-cpu==1.12.0

# --- Intégration OpenAI ---
langchain-openai>=0.1.20
tiktoken

# --- Serveur API & Web ---
fastapi
uvicorn
python-multipart

# --- Traitement de Fichiers ---
PyPDF2
python-docx
pandas
openpyxl
# Nécessaire pour certains calculs complexes de l'agent Pandas
tabulate

# --- Utilitaires ---
python-dotenv
langdetect
pycryptodome



